body,
html {
    height: 100%;
}


/* The hero image */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("insung-yoon-w2JtIQQXoRU-unsplash.jpg");
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Place text in the middle of the image*/

.hero-text {
    text-align: center;
    position: relative;
    size: 50%;
    font: bold;
    font-size: x-large;
    font-family: cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(28, 199, 221);
}

#button1{
    font-size: 20px;
    border-radius: 8px;
    width: 250px;
    background-color: #FFD700;
}

.hero-text {
    span {
        text-transform: uppercase;
        font-family: hover;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4) !important;
    }
}

.button{
 
    text-align: center;
    position: relative;
    font-color: #008b8b;
    font family: cursive;
    font:bold;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
... 
